{% extends "anpu/templates/index.html" %}
{% block content %}
    {{ section.content | markdown | safe }}

    {% if paginator.pages %}
        {% for page in paginator.pages %}
        {{ page_macros::page_listing(page=page) }}
        {% endfor %}
        {{ page_macros::page_pagination(paginator=paginator) }}
    {% else %}
        {% if section.pages %}
            {% for page in section.pages %}
            {{ page_macros::page_listing(page=page) }}
            {% endfor %}
        {% else %}
            {% for subsection in section.subsections %}
                {% set section = get_section(path=subsection) %}
<article class="post-list">
    <header>
        <h1>
            <a href="{{ section.permalink }}">{{ section.title }}</a>
        </h1>
    </header>

    {% if section.description %}
    <div class="content post-summary">
        {{ section.description | markdown | safe }}
    </div>
    {% endif %}
</article>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock content %}